[global]
background = "{{ app_overrides.get('background', '#1A1B26') }}"
foreground = "{{ app_overrides.get('foreground', '#C0CAF5') }}"
frame_color = "{{ app_overrides.get('frame_color', '#414868') }}"
highlight = "{{ app_overrides.get('highlight', '#9ECE6A') }}"

[urgency_low]
background = "{{ app_overrides.get('urgency_low_bg', '#1A1B26') }}"
foreground = "{{ app_overrides.get('foreground', '#C0CAF5') }}"
frame_color = "{{ app_overrides.get('frame_color', '#414868') }}"
highlight = "{{ app_overrides.get('highlight', '#9ECE6A') }}"

[urgency_normal]
background = "{{ app_overrides.get('urgency_normal_bg', '#1A1B26') }}"
foreground = "{{ app_overrides.get('foreground', '#C0CAF5') }}"
frame_color = "{{ app_overrides.get('frame_color', '#414868') }}"
highlight = "{{ app_overrides.get('highlight', '#9ECE6A') }}"

[urgency_critical]
background = "{{ app_overrides.get('urgency_critical_bg', '#1A1B26') }}"
foreground = "{{ app_overrides.get('foreground', '#C0CAF5') }}"
frame_color = "{{ app_overrides.get('frame_color', '#414868') }}"
highlight = "{{ app_overrides.get('highlight', '#9ECE6A') }}"
